.orange {
    color: #FF8F00;
}

aside {
    width: 70px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #071F35;
}